<!DOCTYPE html>
<html>
	<head>
		<title>Half-Edge</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>



		<script type="text/javascript" src="javascript/controller.js"></script>

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="styles/styles.css">
		

	</head>
	<body ng-app="app" ng-controller="Controller">
		<div class="row">
			<div class="col-md-12">
				<h1>Computação Gráfica</h1>
				<h4 style="margin-top: -5px;"><i>Half-Edge</i></h4>
			</div>
			<div class="col-md-12 row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<svg width="100%" height="500" viewBox="0 0 1000 1000">
						<rect x="100" y="200" width="200" height="150"></rect>

						<g ng-repeat="t in triangles">
							<polygon class="triangulo" points="{{t.v1.x}},{{t.v1.y}}
											 {{t.v2.x}},{{t.v2.y}}
											 {{t.v3.x}},{{t.v3.y}}" 
									 ng-click="click(t)"
									 ng-class="{'verde': t.verde}" />
						</g>

						<g ng-repeat="l in lines">

						</g>
					</svg>
				</div>
				<div class="col-md-1"></div>
			</div>
			<br>
			<div class="col-md-12">
				<span>Info:<br>
					<strong>{{info}}</strong>
				</span>
			</div>
			
			
		</div>
		
	</body>
</html>